*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.my__modal{
    margin-top: 35vh;
}
.my__modal .modal-content{
    flex-direction: row;
    border-radius: 0;
}
.my__modal .modal-content .modal__left{
    background-color: #FC695C;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}
.my__modal .modal__right{
    width: 85%;
    padding: 22px 16px;
}
.my__modal .modal__right h1{
    font-weight: 700;
    font-size: 13px;
}
.my__modal .modal__right .modal__actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 16px;
}
.my__modal .modal__right .modal__actions .btn__delete{
    background-color: #D94E3B;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
}
.my__modal .modal__right .modal__actions .btn__cancel{
    border-radius: 4px;
    color: #000;
    font-size: 12px;
    margin-left: 12px;
    border: 1px solid #A9A9A9;
}
.my__modal .modal__right .modal__actions .btn__cancel:hover{
    background-color: #fff;
}
@media screen and (max-width: 576px) {
    .my__modal{
        max-width: 85%;
        margin: 35vh auto 0;
    }
}